
body{
    font-family: 'Open Sans', sans-serif;
}
.header {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(55, 55, 92, 0.8),rgba(55, 55, 92, 0.8)),url('home-bg.jpg');
    background-size: cover;    
    background-position: center;
    position: relative;         
}

.navbar{
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   height: 70px;
   padding-top: 20px;
}
.navbar h2{
    width: 33%;
    color: white;
    padding-left: 30px;
}
.navbar nav{
    width: 33%;
}
.navbar h4{
    width: 33%;
    color: white;
    padding-left: 60px;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.0rem;
}
.content1 {

   color: white;
   text-align: center;
   padding-top: 180px;
   line-height: 40px;
 }
 .content1 h4{
    letter-spacing: 3px;

 }
 .content1 h1{
    font-size: 2.3rem;
    line-height: 45px;
    padding-bottom: 20px;

 }
 .input1{
    display: flex ;
    justify-content: center;
    position: relative;

 }
 .input1 input{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 5px 75px;
    margin-right: 50px;
 }
 .input1 button{
    border: none;
    outline: none;
    background-color:  #29ca8e;
    border-radius: 50px;
    padding: 5px 25px;
    position: absolute;
    right: 33%;
 }
 .content2{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding: 100px;
    
 }
 #content2-id{
    font-size: 2.5rem;
 }
 #content2-nav{
    padding-top: 30px;
 }
 #content2-nav a{
    margin-right: 30px;
    font-size: 1.2rem;
    color: gray;
    text-decoration: none;
 }
#content2-nav a:hover{
  padding-top: 10px ;
  border-bottom: 4px solid #29ca8e;
  padding-bottom: 10px;
  border-radius: 2px;
}

.content3{
    padding-top: 25px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
.image2{
    display: inline-block;
    width: 49%;
    padding: 50px;
}
.image2 img{
    width: 85%;
}
.content4{
    text-align: center;
    padding-top: 80px;
    background-color:#eceaea ;
    font-size: 1.5rem;
}
.flexbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap;
    background-color: #eceaea;
}
.flex1{
    width: 350px;
    height: 490px;
    background-color: #ffffff;
    margin: 2px;
    
}
.andrew-pic{
    height: 65%;
    background-image: url(team-image1.jpg);
    background-size: cover;
    background-position: top;
}
.andrew-info{
    text-align: left;
    padding: 12px 12px;
    font-size: 0.9rem;
    
}
.catherine-info{
    height: 35%;
    text-align: left;
    padding-bottom: 20px;
    padding: 10px 10px;
    font-size: 0.9rem;
}
.catherine-pic{
    height: 65%;
    background-image: url(team-image2.jpg);
    background-size: cover;
    background-position: top;
}
.jack-pic{
    height: 65%;
    background-image: url(team-image3.jpg);
    background-size: cover;
    background-position: top;
}
.jack-info{
    text-align: left;
    padding-top: 20px;
    padding:10px 10px;
    font-size: 0.9rem;
}
.content5{
    background-color: #eceaea;
    padding-top: 90px;
}
.content5 h1{
    text-align: center;
    font-size: 2rem;
}

.flexbox2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap;
    background-color: #eceaea;
    padding-bottom:90px;
}
.flex2{
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    margin: 2px;
}
.info-1{
    height: 75%;
    padding: 35px;
    line-height: 42px;
    color:  rgb(87, 80, 80);

}
.info-1 h1{
    text-align: left;
}
.info-2{
    height: 25%;
    padding: 20px;
    color:  rgb(87, 80, 80);
    padding: 30px;
}
.info-2 h2{
    display: inline-block;
    width: 49%;
}
.info-2 a{
    display: inline-block;
    width: 49%;
    text-decoration: none;
    color: white;
    background-color: #29ca8e;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}
.content6{
    text-align: center;
}
.content6 h1{
     font-size: 2.5rem;
     padding-top: 30px;
}
.input2{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
    flex-wrap: wrap;
}
#text,#email{
   margin-right: 6px;
   border: none;
   border-bottom: #eceaea solid 2px;
   outline: none;
   padding-bottom: 10px;
}
.input2 a{ 
    text-decoration: none;
    padding: 10px 50px;
    background-color: black;
    border-radius: 50px;
    color: #ffffff;
    margin-left: 6px;
}
.input3 textarea{
    width: 50%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    border-bottom: #eceaea solid 2px;

}
.flexbox3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex3{
    display: flex;
    padding: 60px;    
}
.flex3 h4{
    font-size: 0.9rem;
    color: #4e4646;
}
.flex3 img{
    width: 50px;
    margin-left: 10px;
}
@media (max-width:480px){
    .content2{
        display:block;
        width: 100%;
        padding:10px;
        margin-top: 20px;
        
     }
     .image2{
        display: block;
        width: 100%;
    }
    .flex1{
        width: 100%;
        height: 450px;
        margin-top: 50px;
    }
    .flex2{
        width: 100%;
        height: 450px;
        margin-top: 50px;
    }


 }




